# oem device deriver
source "techpack/billie/input/touchscreen/Kconfig"
source "techpack/billie/input/touchscreen_himax/Kconfig"
source "techpack/billie/input/fingerprint/Kconfig"

config TOUCHPANEL_ONEPLUS
	default n
	bool "Enable/Disable the touchscreen common driver"

config OP_HIMAX
       default n
       bool "Enable/Disable the touchscreen_himax driver"
