	
source "techpack/billie/input/touchscreen_himax/util_interface/Kconfig"
#source "techpack/billie/input/touchscreen/samsung/Kconfig"
source "techpack/billie/input/touchscreen_himax/himax/Kconfig"
#source "techpack/billie/input/touchscreen/Goodix/Kconfig"
