config SLA
	bool "to monitor netlink traffic"
	default n
	help
	  Realtime netlink traffic monitor.
	  The purpose of this is to monitor the ipv4 packet status and
	  switch between each interface.

	  If unsure, say n.

config SLA_ALGO
	bool "op algo"
	default n
	bool "OnePlus SLA algorithm"
	help
	  Realtime netlink traffic monitor.
	  The purpose of this is to monitor the ipv4 packet status and
	  switch between each interface.

	  If unsure, say n.
